<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SeismoSens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Halo, Pengguna!</h2>
  <p>Status monitoring peralatan optimal.</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SMS-USER-001</ion-card-title>
      <ion-card-subtitle>Online</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Magnitudo: 5.3</p>
      <p>Lokasi: 102</p>
      <p>Intensitas: 15.2</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SMS-USER-002</ion-card-title>
      <ion-card-subtitle>Offline</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Magnitudo: -</p>
      <p>Lokasi: -</p>
      <p>Intensitas: -</p>
    </ion-card-content>
  </ion-card>
</ion-content>
