<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perangkat">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Perangkat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="peta">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Peta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
